In [1]:
import pandas as pd

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [4]:
df = pd.read_excel('Data/Online Retail.xlsx',engine='openpyxl')
df.dropna(axis=0, subset=['InvoiceNo'], inplace=True)
df['InvoiceNo'] = df['InvoiceNo'].astype('str')

In [5]:
df[df.InvoiceNo.str.contains('C', na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom

In [6]:
df = df[~df['InvoiceNo'].str.contains('C')]

In [7]:
market_basket = df[df['Country'] =="United Kingdom"].groupby(
                ['InvoiceNo', 'Description'])['Quantity']

In [8]:
market_basket = market_basket.sum().unstack().reset_index().fillna(0).set_index('InvoiceNo')

In [9]:
market_basket.head()

Description,20713,4 PURPLE FLOCK DINNER CANDLES,50'S CHRISTMAS GIFT BAG LARGE,DOLLY GIRL BEAKER,I LOVE LONDON MINI BACKPACK,NINE DRAWER OFFICE TIDY,OVAL WALL MIRROR DIAMANTE,RED SPOT GIFT BAG LARGE,SET 2 TEA TOWELS I LOVE LONDON,SPACEBOY BABY GIFT SET,...,wrongly coded 20713,wrongly coded 23343,wrongly coded-23343,wrongly marked,wrongly marked 23343,wrongly marked carton 22804,wrongly marked. 23343 in box,wrongly sold (22719) barcode,wrongly sold as sets,wrongly sold sets
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536369,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
def encode_data(datapoint):
    if datapoint <= 0:
        return 0
    if datapoint >= 1:
        return 1

In [11]:
market_basket = market_basket.applymap(encode_data)

In [12]:
itemsets = apriori(market_basket, min_support=0.03, use_colnames=True)

In [13]:
rules = association_rules(itemsets, metric="lift", min_threshold=0.5)

In [14]:
print (rules)

                            antecedents                          consequents  \
0           (ALARM CLOCK BAKELIKE RED )         (ALARM CLOCK BAKELIKE GREEN)
1          (ALARM CLOCK BAKELIKE GREEN)          (ALARM CLOCK BAKELIKE RED )
2      (PINK REGENCY TEACUP AND SAUCER)    (GREEN REGENCY TEACUP AND SAUCER)
3     (GREEN REGENCY TEACUP AND SAUCER)     (PINK REGENCY TEACUP AND SAUCER)
4     (GREEN REGENCY TEACUP AND SAUCER)   (ROSES REGENCY TEACUP AND SAUCER )
5    (ROSES REGENCY TEACUP AND SAUCER )    (GREEN REGENCY TEACUP AND SAUCER)
6      (JUMBO  BAG BAROQUE BLACK WHITE)            (JUMBO BAG RED RETROSPOT)
7             (JUMBO BAG RED RETROSPOT)     (JUMBO  BAG BAROQUE BLACK WHITE)
8             (JUMBO BAG PINK POLKADOT)            (JUMBO BAG RED RETROSPOT)
9             (JUMBO BAG RED RETROSPOT)            (JUMBO BAG PINK POLKADOT)
10            (JUMBO BAG RED RETROSPOT)  (JUMBO SHOPPER VINTAGE RED PAISLEY)
11  (JUMBO SHOPPER VINTAGE RED PAISLEY)            (JUMBO BAG RED RETROSPOT)
12             (JUMBO STORAGE BAG SUKI)            (JUMBO BAG RED RETROSPOT)
13            (JUMBO BAG RED RETROSPOT)             (JUMBO STORAGE BAG SUKI)
14            (LUNCH BAG  BLACK SKULL.)            (LUNCH BAG RED RETROSPOT)
15            (LUNCH BAG RED RETROSPOT)            (LUNCH BAG  BLACK SKULL.)

    antecedent support  consequent support   support  confidence       lift  \
0             0.049818            0.046925  0.030159    0.605376  12.900874
1             0.046925            0.049818  0.030159    0.642694  12.900874
2             0.037658            0.050032  0.030909    0.820768  16.404818
3             0.050032            0.037658  0.030909    0.617773  16.404818
4             0.050032            0.051264  0.037551    0.750535  14.640537
5             0.051264            0.050032  0.037551    0.732497  14.640537
6             0.048747            0.103814  0.030534    0.626374   6.033613
7             0.103814            0.048747  0.030534    0.294118   6.033613
8             0.062085            0.103814  0.042051    0.677308   6.524245
9             0.103814            0.062085  0.042051    0.405057   6.524245
10            0.103814            0.060692  0.035194    0.339009   5.585724
11            0.060692            0.103814  0.035194    0.579876   5.585724
12            0.060531            0.103814  0.037390    0.617699   5.950055
13            0.103814            0.060531  0.037390    0.360165   5.950055
14            0.065138            0.074566  0.032516    0.499178   6.694431
15            0.074566            0.065138  0.032516    0.436063   6.694431

    leverage  conviction
0   0.027821    2.415149
1   0.027821    2.659296
2   0.029024    5.300218
3   0.029024    2.517724
4   0.034986    3.803087
5   0.034986    3.551247
6   0.025473    2.398615
7   0.025473    1.347609
8   0.035605    2.777218
9   0.035605    1.576478
10  0.028893    1.421061
11  0.028893    2.133149
12  0.031106    2.344190
13  0.031106    1.468299
14  0.027658    1.847829
15  0.027658    1.657742